extend layout 

block layout-content 
  .Docs 
    p RequestBuddy is meant to be a Request-Bin clone. Each buddy generated serves as a simple version of a bin in RequestBin.
    p A buddy is a public URL that is SSL certified that you can send requests through. These requests could be from webhooks, cURL, etc.
    p You are able to view your bin by prepending "/view" to the URL you were given and it will show you every request sent to that URL ordered by most recent.
    p Each request will show the method, headers, body, and approximate time it was sent.
    p If you forget your RequestBuddy bin, you can always go back to the homepage and just request another.
    p I hope this aids in your development process! Happy coding!